.home__outer-wrapper{
    padding: 16px;
    display: block;
}

.home__header-text{
    font-size: 32px;
    color: #6a996e;
    font-weight: 500;
}

.home__sub-header-text{
    font-size: 20px;
    color: #6a996e;
    font-weight: 400;

}